body{
	color: white;
}

a{color: black};

#topo {color: blue;}

table, td, tr {
	color: black;
	font-family: sans-serif;
	font-size: small;
}

p {
	text-align: center;
	color: black;
	font-family: sans-serif;
}

figcaption{
	text-align: center;
}

p.info {background-color: blue;}

img.displayed {
	
	display: block;

	margin-left: auto;

	margin-right: auto; 

	position:relative; 

	top:0px; 

	left:0px; 

	z-index: 0}

	ul li {
		color: black;
		font-family: sans-serif;
	}

	img.displayed_perf{

		position:absolute; 
		top:150px; 
		left:680px; 
		z-index: 1;

		border-style: solid;
		border-radius: 100px;
		border-width: 5px;
		border-color: white;
		box-shadow: 0px 2px 10px #CCCCCC;

		text-align: center;
	}

	div{
		display: block;
		font-size: smaller;
		list-style-type: none;
		align-items: center;
	}

	div.menu figcaption{
		display: flex;
		text-align: right;
		font-size: smaller;
		position: bottom;
		font-family: sans-serif;
		color: white;
		margin: 5px 2px 2px 9px;
		vertical-align: text-bottom;
	}

	div.menu{
		background-color: #283E4A;
	}

	div.menu li {
		padding: 2px 10px;
		display: inline-block;
		background-color:#283E4A;
		color: #F0FFFF;
		text-decoration: none;
		font-family: sans-serif;
		font-size: smaller;
		border-bottom:3px solid #283E4A;
		list-style: none;
	}

	#wrapper{
		
		color: black;
		text-align: center;
		font-family: sans-serif;

	}

	#wrapper2{

		color: black;
		text-align: left;
		font-family: sans-serif;
		font-size: smaller;

	}

	#rodapé footer {
		font-family: sans-serif;
		color: black;
		font-size: smaller;
	}

	#menu {
		list-style:none;
		margin-left:-57px;
	}

	#menu li {
		display:inline;
		padding:4px 16px 4px 16px;
		margin-left:20px;
	}

	#menu2 {
		list-style:none;
		margin-left:-57px;
	}

	#menu2 li {
		display:inline;
		padding:4px 16px 4px 16px;
		margin-left:20px;
	}

	#menu3 {
		list-style:none;
		margin-left:-57px;
	}

	#menu3 li {
		display:inline;
		padding:4px 16px 4px 16px;
		margin-left:20px;
	}

	#menu4 {
		list-style:none;
		margin-left:-57px;
	}

	#menu4 li{
		display:inline;
		padding:4px 16px 4px 16px;
		margin-left:20px;
	}